/*Colours

    Backgroud Void #0E0B16 or White Smkoe #ececec
    Text Strak #E7DFDD
    Acent 1 FUSCHIA #A239CA
    Acent 2 JEWEL   #4717F6

*/

/*
Basic Setup
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #0E0B16;
    color: #E7DFDD;
    font-family: "Lato", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/*
Reusable components
*/

section {
    padding: 80px 0;
}

h1, h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 200%;
    word-spacing: 3px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    word-spacing: 2px;
    text-align: center;
}

h4 {
    padding: 15px;
    word-spacing: 2px;
    margin-left: 15%;
}

h2::after{
    display: block;
    height: 2px;
    background-color: #4717F6;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    
}

.container h2::after{
    background-color: transparent;
    margin-top: -30px;
}

.container h3::after{
    display: block;
    height: 2px;
    background-color: #4717F6;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    
}


/*
Paragraphs 
*/

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.certifications{
    line-height: 145%;
    width: 70%;
    margin-left: 20%;
}

/*
Details
*/

details{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

summary {
  display: block;
  cursor: pointer;
  padding: 20px;
  font-size: 22px;
  transition: .3s;
  user-select: none;
}

details > div {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  user-select: none;
  padding: 0 20px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  details[open] > div > p {
    opacity: 0;
    animation-name: showContent;
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    margin: 0;
    padding-left: 20px;
  }

  details[open] > div {
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
    
    details[close] > div {
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

}

@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  to {
    opacity: 1;
    height: var(--contentHeight);
    padding: 20px;
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    height: var(--contentHeight);
    padding: 20px;
  }
}


/*
Generic Links 
*/

a, a:visited{
    color: #4717F6;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #4717F6;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover, a:active{
    color: #A239CA;
    border-bottom: 1px solid transparent;
}

/*
 Buttons 
*/

.btn:link, .btn:visited, input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: white;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}


.btn-full:link, .btn-full:visited, input[type=submit]{
    background-color: #4717F6;
    border: 1px solid #4717F6;
    margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited{
    border: 1px solid #4717F6;
    color: #4717F6;
}

.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active{
    background-color: #4717F6;
}

.btn-full:hover, 
.btn-full:active{
    border: 1px solid #4717F6;
}

.btn-ghost:hover, 
.btn-ghost:active{
    border: 1px solid #4717F6;
    color: white;
}


/*
Navigation
*/


.main-nav {
    display: flex;
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-right: 50px;
    position: sticky;
    top: 0;
}



.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0E0B16;
    box-shadow: 0 2px 2px #a380ff;
    z-index: 9999;
}

.sticky .logo-small{
    display: block;
}

.sticky .logo{
    display: none;
}

.sticky .main-nav {
    margin-top: 25px;
}

.sticky .main-nav li a:link, .sticky .main-nav li a:visited{
    padding: 10px 0px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited{
    padding: 8px 0px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover, .main-nav li a:active{
    border-bottom: 2px solid #4717F6;
}



.logo {
    height: 100px;
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50px;
}

.logo-small {
    height: 50px;
    border-radius: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    display:none;
}

.logo-nav,a {
    border-bottom: 0px;
}

/*
header
*/

header {
    background-image: url(../img/hero4.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

#container-page-down{
    display: flex;
    justify-content: center;
    font-size: 500%;
    flex-grow: 1;
}

.page-down{
    position: absolute;
    bottom: 10px;
    color: #0E0B16;
}

/*
Footer
*/

footer {
    background-color: #262626;
    color: #747474;
    padding: 50px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li, .social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child, .social-links li:last-child {
    margin 0;
}

.footer-nav li a:link, .footer-nav li a:visited, .social-links li a:link, .social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #747474;
    transition: color 0.2s;
}

.footer-nav li a:hover, .footer-nav li a:active, .social-links li a:hover, .social-links li a:active {
    color: #A239CA;
}

footer p{
    text-align: center;
    font-size: 80%;
    padding: 20px
}

/*
Sections
*/

.section--about-john{
    background-image: linear-gradient(to bottom, #414141 , #0E0B16);
}

.section--work-experience{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url(../img/work.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.section--student-life{
    background-image: linear-gradient(to bottom, #0E0B16 , #414141);
}

/*

*/

.work-box {
    background-color: rgba(14, 11, 22, 0.7);
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 2px 2px #bfbfbf;
}

.work-box div {
    padding: 15px;
    border-bottom: 1px solid #adadad;
}

.work-box div:first-child{
    background-color:  rgba(14, 11, 22, 0.7);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.work-box div:last-child{
    text-align: center;
    border-bottom: transparent;
}

.work-box ul{
    list-style: none;
}

.work-box ul li {
    padding: 5px 0;
}

/*
Work Time line
*/

.timeline {
    position: relative;
    margin: auto;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #4717F6;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%
}

.left::before{
    content: '';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: #0E0B16;
  position: relative;
  border-radius: 6px;
}